.notesFormWrap {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  color: #000000;
  font-size: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radioWrapper {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formButton {
  margin: 0px auto;
  font-size: 20px;
  background-color: rgb(28, 141, 228);
}

.formButton:hover {
  background-color: rgb(0, 109, 192);
  transform: scale(1.1, 1.1);
}
.formButton:active {
  background-color: rgb(0, 52, 92);
}
