.noNotes {
  color: rgb(138, 137, 137);
  font-size: 20px;
  text-align: center;
}

.tableWraper {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-x: auto;
}

.notesTable {
  background-color: white;
  border-radius: 10px;
  color: black;
  width: 100%;
  max-height: 400px;
  position: relative;
  text-align: center;

}

.notesHeader th {
  padding: 0px;
  text-align: center;
  color: #ccc;
}

.showImportantsButton {
  width: 20%;
  font-size: 16px;
  margin: 0px 0px 15px 8px;
  background-color: rgb(88, 213, 103);
}
.showImportantsButton:hover {
  background-color: rgb(36, 214, 57);
  transform: scale(1.1, 1.1);
}
.showImportantsButton:active {
  background-color: rgb(0, 158, 18);
}